.jumbotron h1 {
    text-align: center;
    margin: 1em;
    font-family: Tahoma, sans-serif
}

.card-img-top {
    height: auto;
    width: 20%;
    overflow: hidden;
}

#sidebar {
    float: left;
}

.footer {
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: rgb(111, 111, 111);
    position: fixed;
    bottom: 0;
}