body {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bolder;
}

a {
    color: linen;
    cursor: crosshair;
}

a:hover {
    color: limegreen;
    text-decoration: none;
}

a:visited {
    color: chartreuse;
}

a:active {
    color: crimson;
}

#bg {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: blur(4px);
}

.jumbotron {
    color: greenyellow;
    background-color: rgb(38, 85, 85);
    position: relative;
    overflow: hidden;
    z-index: 99;
    border-style: groove;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.jumbotron h1 {
    text-align: center;
    margin: 1em;
    font-family: Tahoma, sans-serif;
}

#headname {
    text-decoration: underline;
    font-size: larger;
}

#jumbobg {
    right: 0;
    filter: blur(25px);
    z-index: -1;
    position: absolute;
}

#projhead {
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
}

.card,
.list-group-item,
#projhead {
    color: chartreuse;
    background-color: rgb(9, 24, 20);
}

.card {
    margin: 15px;
    border: ivory groove 2px;
    border-radius: 25px;
}

#card-img {
    height: auto;
    width: 20%;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 15px;
    border-radius: 50%;
    border: groove;
}

.footer {
    text-align: center;
    height: 40px;
    width: 100%;
    background-color: rgb(38, 85, 85);
    position: fixed;
    bottom: 0;
    left: 0;
    ;
}

#bottom {
    margin-bottom: 10%;
}