#bg {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: blur(3px);
}

.jumbotron {
    color: greenyellow;
    background-color: darkslategrey;
}

.jumbotron h1 {
    text-align: center;
    margin: 1em;
    font-family: Tahoma, sans-serif
}

.card,
.list-group-item {
    color: chartreuse;
    background-color: black;
}

.card {
    margin: 15px;
}

#card-img {
    height: auto;
    width: 20%;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 15px;
    border-radius: 50%;
}

.footer {
    text-align: center;
    height: 40px;
    width: 100%;
    background-color: rgb(111, 111, 111);
    position: fixed;
    bottom: 0;
}